@page "/displaydict"
<h3>DisplayOrders</h3>

<table>
    <tr>
        <th>Clothing Item</th>
        <th>Price</th>
    </tr>
    @foreach (var item in mockDatabase)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>
    }
</table>
@code {
    // making and empty dictionary to use
    Dictionary<string, double> mockDatabase = new Dictionary<string, double>();

    protected override void OnInitialized()
    {
        mockDatabase["Hoodie"] = 24.99;
        mockDatabase["Joggers"] = 32.99;
        mockDatabase["Coat"] = 79.99;

    }
}
